<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	autoReload="false"
	throwExceptions="false"
	internalLogToConsole="true"
>

  
	<!-- 
	See https://github.com/nlog/nlog/wiki/Configuration-file 
	for information on customizing logging rules and outputs.
	-->
	<!--
	<extensions>
		<add assembly="NLogBrowserTarget"/>
	</extensions>
	-->
	<variable name="niceTextLayout" value="${longdate} ${threadid} ${level} ${logger} ${message}"/>
	<targets async="true">

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
		<target xsi:type="SplitGroup" name="defaultLog">
			<target xsi:type="ColoredConsole" name="console" layout="${niceTextLayout}"/>
			<target xsi:type="File" 
				name="file" 
				fileName="${basedir}/../../log/${shortdate}.txt"
				layout="${niceTextLayout}"
				concurrentWrites="false"
			/>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="defaultLog"/>
  	</rules>
</nlog>